{{!-- <h1><img class="country-card" src="${flags.svg}" alt="${name.common} width="30" height="30"">${name.common}</h1>
<ul class="country-card__list">
<li class="country-card__item">Capital:<span class="country-card__data">${capital}</span></li>
<li class="country-card__item">Population:<span class="country-card__data">${population}</span></li>
<li class="country-card__item">Languages:<span class="country-card__data">${languages}</span></li>
</ul> --}}

<div>
<h1><img class="country-card" src="{{flags.svg}}" alt="{{name.common}} width="30" height="30"">{{name.common}}</h1>
<ul class="country-card__list">
<li class="country-card__item">Capital:<span class="country-card__data">{{capital}}</span></li>
<li class="country-card__item">Population:<span class="country-card__data">{{population}}</span></li>
<li class="country-card__item">Languages:<span class="country-card__data">{{languages}}</span></li>
</ul>
</div>